* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background-image: url("./image/cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(224, 223, 203);
  background-image: url("./image/coverpage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* .title {
  color: #fffbe1;
  display: flex;
  justify-content: center;
  align-items: center;
} */

header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
}
.title {
  max-width: 1200px;
  position: absolute;
  top: 30%;
}
.title img {
  width: 60%;
  display: block;
  margin: 0 auto;
  transition: all ease 2s;
}
@media screen and (max-width: 750px) {
  .title img {
    width: 90%;
  }
}
.header-font {
  font-size: 2.5vh;
}
.white {
  color: #fff !important;
}
main {
  padding-top: 50px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

main button {
}

.search-section {
  position: absolute;
  max-width: 1200px;
  top: 55vh;
}
.search-row {
  display: flex;
}
.search-container {
  /*width: 1200px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu .show {
  height: 180px;
  overflow: auto;
}
.selection-padding {
  /*padding: 15px;*/
}
.imgStyle {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto;
}
.results {
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  flex-flow: wrap;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 60px);
}
.park {
  padding: 0px 10px;
  box-sizing: border-box;
  display: block;
  margin-top: 10px;
}
.park-img {
  height: 200px;
  object-fit: cover;
}
.park-title {
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.park-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.park-handle img {
  height: 25px;
  width: 30px;
}
/* details */
.details-container {
  background-color: #fff;
  padding: 10px;
}
.details-container .row {
  margin: 0;

  align-items: center;
}
.details-img img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.details-desc {
  padding: 10px 0px;
}
.details-coveritems {
  display: flex;
  justify-content: flex-start;
}
.details-info .details-coverimg {
  cursor: pointer;
  width: 25%;
  padding: 5px;
}
.details-info h3 {
  margin-top: 10px;
}
.header {
  padding: 0 20px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.header .user-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 20px;
}
.header .user-name {
  margin-right: 8px;
}
.main-img {
  width: 100%;
}

/* favorites */
.favorites-list {
  height: calc(100vh - 60px);
  overflow: auto;
  background-color: #fffbe1;
  border-radius: 10px;
  padding: 5px;
}
.favorites-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 5px;
}
.favorites-img {
  display: flex;
  align-items: center;
}
.favorites-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.favorites-img img {
  border-radius: 4px;
  overflow: hidden;
  width: 80px;
  height: 60px;
  object-fit: cover;
}

.back-btn {
  margin: 10px;
}
