* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* background-image: url("./image/cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(224, 223, 203);
}
header h1 {
  color: darkslategray;
  font-weight: 500;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  height: 100vh;
}

main button {
}

section {
  padding: 15px 0px;
}

.searchbox {
  width: 200px;
  padding: 5px;

  border: none;
  outline: none;
  background: none;

  background-color: lightgrey;
  border-radius: 8px;

  font-size: medium;
}
.search-btn {
  padding: 5px;
}
.search-section {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.selection-padding {
  padding: 15px;
}
.imgStyle {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto;
}
.results {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
.park {
  width: 33.33%;
  padding: 0px 10px;
  box-sizing: border-box;
  display: block;
  margin-top: 10px;
}
.park-img {
  height: 200px;
  object-fit: cover;
}
.park-title {
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.park-handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.park-handle img {
  height: 25px;
  width: 30px;
}
/* details */
.details-container {
  border: 1px solid #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.details-img {
  width: 350px;
  height: 350px;
  background: #fff;
}
.details-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.details-info {
  width: 550px;
}
.details-coveritems {
  display: flex;
  justify-content: space-between;
}
.details-info .details-coverimg {
  width: 120px;
  height: 120px;
}

.header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
.header .user-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 20px;
}
.header .user-name {
  margin-right: 8px;
}
.main-img {
  width: 100%;
}

/* favorites */
.favorites-item {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 5px;
  padding: 10px;
}
.favorites-img {
  display: flex;
  align-items: center;
}
.favorites-name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
.favorites-img img {
  width: 80px;
  height: 60px;
  object-fit: cover;
}
